.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings
.Python
*.pyc
bin
develop-eggs
eggs
include
lib
parts
pypi-local
src/archetypes.querywidget
src/collective.solr
src/plone.app.collection
src/rer.bandi
src/rer.er_base_theme
var